body,
html {
    color: black;
    font-family: 'Roboto Mono', monospace;
    background-color: #ffffff;
    height: 99% !important;
    width: 100% !important;
    padding: 5px;
}

.container {
    height: 80% !important;
    width: 100% !important;
    max-width: none !important;
    padding: 0px !important;
    margin: 0px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../Images/WeddingImage.jpg");
    position: relative;

}

/* Add a black background color to the top navigation */
#topnav {
    overflow: hidden;
    text-align: center;
}

/* Style the links inside the navigation bar */
#topnav a {
    display: inline-block;
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 18px;
}

/* Change the color of links on hover */
#topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
#topnav .icon {
    display: none;
}

/* Style all font awesome icons */
.fa,
.fas,
.fab {
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for Facebook */
.fa fa-facebook {
    background: #3B5998;
    color: white;
}

* {
    box-sizing: border-box
}

img {
    vertical-align: middle;
}
.imageGrid {
  line-height: 0;
}
.imageGrid .tile {
  width: 50%;
  min-height:18em;
  line-height: 1.2;
  display:inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  
  color:#fff;
  font-family:"Verdana",sans-serif;
  text-shadow: 2px 2px 2px #000;
  cursor: pointer; 
  cursor: hand;
}

.imageGrid .tile:before {
  content: '';
  background-color: rgba(15,15,15,0.5);
  display: block;
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
}

.imageGrid .tile:hover:before {
  display: none;
}

.imageGrid .tile .textWrapper {
  text-align: center;
  vertical-align: middle;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .75em;
}

.imageGrid .tile .textWrapper .content {
  display: none;
}

.imageGrid .tile:hover .textWrapper .content {
  display: block;
}

.imageGrid .tile:hover .textWrapper .content h2 {
  margin: 0;
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 900px) {
    .Col {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .Col {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

#foto{
    height: 90% !important;
    width: 100% !important;
}

/* Slideshow container */
.fotorama {
    height: 99% !important;
    width: 100% !important;
    max-width: none !important;
    padding: 0px !important;
    margin: 0px !important;
    position: relative;
}


/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

#CompanyName {
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    padding-top: 25%;
}

#ContactInfo {
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    padding-top: 25%;
}

#footer {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 0;
}
